/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Corpo */
body {
    background-color: #0e0e10;
    color: #fff;
    padding-top: 80px; /* para evitar sobreposição com navbar fixa */
}

/* Título principal */
.dashboard-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Container de projetos */
#portfolioGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    display: none;
}

/* Cartões de projeto */
.portfolio-item {
    background-color: #1c1c1e;
    color: #eee;
    border-radius: 2px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portfolio-item:hover {
    transform: scale(1.03);
}

/* Imagem do projeto */
.portfolio-item img {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 15px;
}

.portfolio-item p{
    text-align: justify;
}

/* Botão de ação */
.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #6c47ff;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.button:hover {
    background-color: #5a38d3;
}

/* Mensagem de aviso */
.no-portfolios {
    text-align: center;
    margin-top: 60px;
    color: #ccc;
    font-size: 16px;
}
