/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Corpo da página */
body {
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}


/* Ajuste do botão de logout */
.logout-button {
    background-color: #e74c3c !important;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.logout-button:hover {
    background-color: #c0392b;
}

/* Container principal */
main {
    max-width: 1100px; /* Maior largura para acomodar os portfólios */
    margin: 80px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botão Criar Novo Portfólio */
.button-container {
    margin: 20px 0;
}

#portfolioGallery {
    display: flex;
    gap: 25px;
    padding: 20px;
    justify-content: center; 
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 120px;
}

/* Cartão do Portfólio */
.portfolio-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

/* Ajuste de imagens */
.portfolio-item img {
    max-width: 400px;
    height: 400px;
    height: auto; /* Mantém a proporção correta da imagem */
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.portfolio-item img:hover {
    transform: scale(1.1);
}

/* Links dentro dos cards */
.portfolio-item a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    color: #4CAF50;
}

.portfolio-item a:hover {
    text-decoration: underline;
}
